/* Common css style */
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: sans-serif;
}
/* Resuable css style */
.primary {
  color: red;
}
.title {
  font-size: 5rem;
}
.primary-btn {
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  margin: 5px;
}
/* Start Navigation */
.nav-container {
  height: 90px;
  background: rgb(207, 204, 204);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menus {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.menus a {
  color: black;
}
/* Start banner section */
.banner-section {
  width: 100%;
  height: 100vh;
  background-image: url("./asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}
.banner-container {
  width: 100%;
  margin: 0 auto;
}
.banner-description p {
  width: 50%;
  margin: auto;
  font-size: 20px;
  margin-top: 14px;
  line-height: 1.3;
}
.buttons {
  padding: 20px;
}
.bg-btn {
  background: red;
  color: white;
}
/* Start Service section */
.service-section {
  width: 100%;
  height: 100vh;
  background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-position: center;
  color: white;
}
.service-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.service-description {
  margin-top: 200px;
  margin-bottom: 100px;
}
.service-btn {
  border-radius: 80px;
  background: white;
}
.service-description h2 {
  font-size: 38px;
  margin-top: 10px;
}
.service-description p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.3;
}
.service-description ol {
  margin-left: 18px;
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.8;
}
.author-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.author-details {
  padding-right: 50px;
  border-right: 2px solid red;
  display: flex;
  gap: 10px;
  align-items: center;
}
.author-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.author-btn {
  border-radius: 60px;
  color: red;
}
.author-details small {
  color: gray;
}
/* Service cards section */
.service-cards-container {
  margin-top: 200px;
}
.service-two-cards {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.service-logo {
  width: 100px;
  height: 100px;
}
.service-box {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 50px;
  text-align: center;
  width: 300px;
  height: 300px;
  margin-right: 15px;
  box-shadow: 4px 4px 8px rgb(26, 24, 24);
}
.service-box h3 {
  color: black;
}
/* Appointment section start */
.appointment-section {
  width: 75%;
  padding: 15px;
  background-color: rgb(245, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  margin-top: -80px;
  color: white;
}
.call-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-right: 2px solid gray;
}
.appointment-logo {
  width: 100px;
  padding: 15px;
}
.apointment-descript {
  padding: 10px;
  text-align: justify;
}
.appointment-button {
  padding: 10px;
}
.appointment-button button {
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
}
/* Blog section start */
.blog-container h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 44px;
}
.blog-container p {
  margin-top: 16px;
  text-align: center;
  line-height: 1.3;
  font-size: 22px;
}
.blog-cards {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.card {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 340px;
  height: 420px;
  background: white;
  box-shadow: 4px 4px 8px 2px gray;
}
.card img {
  width: 100%;
}
.card h3 {
  margin-top: 20px;
  margin-left: 20px;
}
.card p {
  text-align: left;
  font-size: 16px;
  margin-left: 20px;
}
/* Start footer design */
footer {
  background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-position: center;
}
.footer-container {
  padding: 200px;
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
}
.website-short-desc p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}
.social-icon i {
  font-size: 22px;
  margin-right: 20px;
  margin-top: 18px;
}
.useful-links a {
  color: white;
  font-size: 16px;
  line-height: 1.8;
}
.link-heading {
  margin-bottom: 20px;
}
.supports-links a {
  color: white;
  font-size: 16px;
  line-height: 1.8;
}
.contact-information li {
  font-size: 16px;
  line-height: 1.8;
}
.copyright {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid gray;
  color: white;
  font-size: 14px;
}